.products {
  padding: 40px 0px;
  &__wrapper {
    .products__cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      row-gap: 20px;
      column-gap: 35px;
      .products__card {
        width: 260px;
        // height: 400px;
        // background-color: red;
        .card__img__wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 220px;
          border-radius: 25px;
          background-color: #ddd;
          position: relative;
          img {
            width: 100%;
            max-width: 200px;
            height: 200px;
            object-fit: contain;
          }
          .card__absolute {
            position: absolute;
            top: 10px;
            left: 10px;
            height: 30px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            border-radius: 20px;
            p {
              font-size: 16px;
              font-family: Inter;
              font-weight: 900;
              color: #fff;
            }
          }
        }
        .card__content {
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          h4 {
            font-size: 14px;
            font-weight: 400;
            font-family: Inter;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
          .card__description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 14px;
            font-weight: 400;
            font-family: Inter;
          }
          .card__stock {
            padding: 10px 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            font-weight: 400;
            font-family: Inter;
            svg {
              font-size: 16px;
              color: #cc290a;
            }
          }
          .price__wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .card__price {
              font-size: 18px;
              font-family: Inter;
              font-weight: 700;
            }
            span {
              color: #cc290a;
              display: flex;
              align-items: center;
              gap: 10px;
              font-family: Inter;
              font-weight: 400;
              font-size: 14px;
              p {
                color: #000;
              }
            }
            .price__wishlist {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .wishlist__absolute {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: #ddd;
                border-radius: 5px;
                svg {
                  font-size: 20px;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
